<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
</head>
<body ng-app="Assignment5" ng-controller="CityController" data-ng-init="init()">
    <form id="APPID_Form">
        <input type="text" placeholder="Enter your API developer ID" id="APPID"/>
        <input type="submit" onclick="setAPPID()" value="Submit" />
    </form>
    
    <table >
        <colgroup span="6" style="background-color:lightslategrey"></colgroup>
        <colgroup></colgroup>
        <tr>
            <th>City</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Wind Speed</th>
            <th>Cloudiness</th>
            <th>Time Accessed</th>
        </tr>
        <tbody ng-repeat="city in cities track by $index">
            <tr class="City">
                <td> <a href="#Forecast/{{city.city.name}}">{{ city.city.name }} </a> </td>
                <td> {{ city.city.temperature + "&deg;C" }} </td>
                <td> {{ city.city.humidity + "%"}} </td>
                <td> {{ (city.city.windspeed * 3600 / 1609.344).toFixed(2) + " miles per hour" }} </td>
                <td> {{ city.city.cloudiness + "%" }} </td>
                <td> {{ city.time}}</td>
            </tr>
            <tr class="CityOld" ng-show="oldCityCall[$index].city">
                <td> {{ oldCityCall[$index].city.name + " (Last Call)"}} </td>
                <td> {{ oldCityCall[$index].city.temperature  + "&deg;C"}} </td>
                <td> {{ oldCityCall[$index].city.humidity + "%"}} </td>
                <td> {{ (oldCityCall[$index].city.windspeed * 3600 / 1609.344).toFixed(2) + " miles per hour" }} </td>
                <td> {{ oldCityCall[$index].city.cloudiness + "%" }} </td>
                <td> {{ oldCityCall[$index].time }} </td>
            </tr>
            <tr ng-hide="oldCityCall[$index].city"> 
                <td> {{city.city.name + " (Last Call)"}}<br /></td>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
                <td><br /></td>
            </tr>
        </tbody>
    </table>
    <input type="button" value="Refresh" ng-click="updateAllCities();" /> <input type="button" value="Store Last Call" ng-click="updateAllLastCall();" /> <input type="button" value="Clear Last Call" ng-click="clearLastCall()" />
    <br />
    <br />
    <div>
        <p style="display: inline;">The average temperature is '<div id="avgTemp" style="display: inline;">X</div>' and the hottest city is '<div id="maxTemp" style="display: inline;">Y</div>' <br />
        <p style="display: inline;">The average humidity is '<div id="avgHumidity" style="display: inline;">X</div>' and the most humid city is '<div id="maxHumidity" style="display: inline;">Y</div>' <br />
        <p style="display: inline;">The city with the nicest weather is '<div id="nicest" style="display: inline;">X</div>' <br />
        <p style="display: inline;">The city with the worst weather is '<div id="worst" style="display: inline;">X</div>' <br />
    </div>
    <div ng-view></div>
    <script src="main.js"></script>
</body>
</html>